*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1140px;
    height: 500px;
    border: 4px solid red;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: calc(100%/4);
    /* height: 20px; */
    background: blue;
    border: 1px solid red;
    color: white;
}
@media(min-width:576px) and (max-width:767px){
    .box{
        width: 100%;
        background: red;
        margin-bottom: 10px;
    }
}
h1{
    color: blue;
    font-size: 40px;
}
@media(min-width:768px) and (max-height:991px){
    .box{
        width: calc(100%/2);
        background: green;
        text-align: right;
        margin-bottom: 10px;
        background: url(img/246135181_333914.jpg) no-repeat center center / cover;
    }
}
p{
    font-size: 30px;
    color: black;
}
@media(min-width:992px) and (max-width:1199px){
    .box{
        width: calc;
        background: chartreuse;
        text-align: center;
    }
}
h1{
    font-size: 50px;
    color: red;
    font-weight: 700;
}
p{
    color: brown;
    font-size: 20px;
    text-decoration: underline;
    background-color: white;
}